/* app css stylesheet #58C0DE*/
 body {
 	padding: 0px 10px;
 	background:url("../img/500.gif") no-repeat center center fixed,
 	url("../img/128-174.jpg") repeat !important;
 	color: white !important;
 }

 .info-page-div{
 	width: 180px;
 	height: 180px;
 	background:url("../img/logo-new.gif") no-repeat center center;
 	margin: 5px auto;
 }

 .home-page-button:hover {
 	color: #5DB1DE !important;
 }

 .black-text {
 	color: black;
 }

 .list-group-item {
 	background-color: #5E5E5E !important;
 	color: white !important;
 }

 .list-group-item:hover {
 	background-color: #4B4B4B  !important;
 }

 .active {
 	color: #5bc0de !important;
 	background-color: #4B4B4B !important;
 }

 .well, .well-sm {
/* 	background-color: #BABABA !important;*/
 	background-color: #5E5E5E !important;
 	border: 1px solid white !important;
 	opacity: 0.97;
 }

.all-ads-list {
	list-style-type: none;
	margin-left: 0px !important;
	padding-left: 0px !important;
}

.ad-info-text {
  padding-top: 7px;
}

/*.ad-info-paragraph {
	overflow: hidden;
	word-break: break-all;
}
*/
.ad-image {
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
}

.ad-image:hover {
  opacity: 0.8;	
}

.ad-image-container {
	height: auto;
}

.filter-menues {
	margin: 15px;
	margin-top: 0px !important;
}

.dropdown-filter{
	margin-bottom: 10px;
}

.dropdown-filte-button {
	width: 160px;
}

.filte-items-link {
	cursor: pointer;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.centerd-buttons { 
	width: 160px;
 	margin: 0 auto;
}

label, input {
    display: block;
}

.label-on-top {
	width: 100px;
	display: block;
	margin-bottom:7px !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
	float:left !important;
}

#confirm-password-label {
	width: 160px;
	float: left !important;
}

.short-label {
	width: 75px !important;
}

.nav, .pagination, .carousel, .panel-title a, a {
	cursor: pointer; 
}

.sidebar-nav {
	margin-right: 0px !important;
	padding-right: 0px !important;
}

.sidebar-nav-heading{
   margin-bottom: 0px !important;
   overflow: hidden;
   word-break: break-all;
}

/*.ad-title {
	overflow: hidden;
	word-break: break-all;
}*/

.left-side-ad {
	border-right: 1px solid black !important;
	padding-right: 30px;
}

.right-side-ad {
	padding-left: 5px;
}

.ad-edit-buttons {
	margin-top: 10px;
	overflow: hidden;
}

.ad-edit-buttons-link {
	width: 98%;
}

.publis-new-add-form {
	margin-left: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.header-nav {
	margin-bottom: 15px !important;
}

.edit-profile-label {
	text-align: left !important;
	width: 200px !important;
}

span.avoidwrap { 
	display:inline-block; 
}

.login-register-forms {
	float:left;
	margin-left: 5px !important;
}

.site-info {
	text-indent: 15px;
}

/*back to top button */
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: white;
    background-color: #3e444c;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: #4B4B4B !important;
    color: #5bc0de;
}

/* ajax loading spinner */
.spinner  {
	width: 100px;
	height: 100px;
	position: absolute;
    top:200px;
    bottom: 0;
    left: 0;
    right: 30%;
    margin:auto;
}

.spinner-gif{
	width: 80px;
	height: 80px;
}

/* alert messages*/
.alerts-div {
	position: fixed;
	top: 40%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}





