/* app css stylesheet #58C0DE*/
 body {
 	padding: 5px;
 }

.all-ads-list {
	list-style-type: none;
	margin-left: 0px !important;
	padding-left: 0px !important;
}

.ad-info-text {
  padding-top: 7px;
}

.ad-info-paragraph {
	overflow: hidden;
}

.ad-image {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
}

.filter-menues {
	margin: 15px;
	margin-top: 0px !important;
}

.dropdown-filter{
	margin-bottom: 10px;
}

.dropdown-filte-button {
	width: 160px;
}

.filte-items-link {
	cursor: pointer;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.centerd-buttons { 
	width: 160px;
 	margin: 0 auto;
}

label, input {
    display: block;
}

.label-on-top {
	width: 100px;
	display: block;
	margin-bottom:7px !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
	float:left !important;
}

#confirm-password-label {
	width: 160px;
}

.short-label {
	width: 75px !important;
}

.nav, .pagination, .carousel, .panel-title a, a {
	cursor: pointer; 
}

/*.sidebar-nav {
	width: 350px;
}*/

.login-register-forms {
	margin-left: 10px;
}

.sidebar-nav-heading{
   margin-bottom: 0px !important;
}

.ad-title {
	overflow: hidden;
	word-break: break-all;
}

.left-side-ad {
	border-right: 1px solid black !important;
	padding-right: 30px;
}

.right-side-ad {
	padding-left: 5px;
}

.ad-edit-buttons {
	margin-top: 10px;
}

.ad-edit-buttons-link {
	width: 98%;
}





