<!DOCTYPE html>
<html ng-app="onlineAdsApp">
	<head>
		<meta charset="utf-8">
		<title>BestAds</title>
		<!-- Load Bootsrap and custom styles-->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/onlineAdsApp.css">	
		<!-- Load jQuery and BootstrapJS-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- Load AngularJS, modules, servieces and controllers -->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-resource.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular/angular-sanitize.js"></script>
		<script src="lib/angular/ui-bootstrap-tpls-0.12.0.js"></script>
		<script src="lib/angular/ui-bootstrap-custom-0.12.0.js"></script>
		<script src="lib/angular/ui-bootstrap-custom-tpls-0.12.0.js"></script>
		<script src="lib/angular/dirPagination.js"></script>
		<script src="js/onlineAdsApp.js"></script>
		<script src="js/services/adsService.js"></script>
		<script src="js/services/categoriesService.js"></script>
		<script src="js/services/townsService.js"></script>
		<script src="js/services/authorizationService.js"></script>
		<script src="js/services/authenticationService.js"></script>
		<script src="js/controllers/homeController.js"></script>
		<script src="js/controllers/registerController.js"></script>
		<script src="js/controllers/loginController.js"></script>
		<script src="js/controllers/mainController.js"></script>
		<script src="js/controllers/userAllAdsController.js"></script>
		<script src="js/controllers/userProfileController.js"></script>
		<script src="js/controllers/userPiblishAdController.js"></script>
		<script src="js/filters/onlineAdsAppFilters.js"></script>
	</head>
	<body ng-controller="MainController">
		<!-- navigation-->
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-click="loadHomePage()">BestAds</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#/login" ng-if="!userIsLogged">Login</a>
					</li>
					<li>
						<a ng-if="userIsLogged" ng-click="logout()">Logout</a>
					</li>
					<li>
						<a href="#/register" ng-if="!userIsLogged">Register</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- main -->
		<div class="row">
			<!-- left-side-bar -->
			<div class="col-md-3 col-sm-10 col-xs-10">
				<!-- main user nav -->
				<div class="row sidebar-nav" ng-if="userIsLogged">
					<div class="col-md-10 col-sm-8 col-xs-10 col-centered">
						<div class="well well-sm text-info sidebar-nav-heading">
							<h4>Wellcome home, {{currentUser}}</h4>
						</div>
						<div class="list-group">
							<a href="#/home" class="list-group-item" ng-class="getClass('/home')" ng-click="loadHomePage()">Home </a>
							<a class="list-group-item" ng-class="getClass('/user/ads')" ng-click="loadUserAds('')">My Ads</a>
							<a class="list-group-item" ng-class="getClass('/user/publish-new-add')" ng-click="publishNewAdd()">
							Publish New Add</a>
							<a class="list-group-item" ng-class="getClass('/user/profile')"  ng-click="editProfile()">
							Edit Profile</a>
						</div>
					</div>
				</div>
				<!-- My ads nav -->
				<div class="row sidebar-nav" ng-if="clickedMyAds">
					<div class="col-md-10 col-sm-8 col-cs-10 col-centered">
						<div class="well well-sm text-info sidebar-nav-heading">
							<h4>My ads</h4>
						</div>
						<div class="list-group">
							<a class="list-group-item" ng-class="getClass('/user/ads')" ng-click="loadUserAds('')">All</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/published')" ng-click="loadUserAds('Published')">Published</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/waitingapproval')" ng-click="loadUserAds('WaitingApproval')">Waiting Approval</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/inactive')" ng-click="loadUserAds('Inactive')">Inactive</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/rejected')" ng-click="loadUserAds('Rejected')">Rejected</a>
						</div>
					</div>
				</div>
			</div>
			<!-- different views from routes are displayed here -->
			<div class="col-md-9 col-sm-11 col-xs-11" ng-view >
			</div>
		</div>
	</body>
</html>