<!DOCTYPE html>
<html ng-app="onlineAdsApp">
	<head>
		<meta charset="utf-8">
		<title>BestAds</title>
		<!-- Load Bootsrap and custom styles-->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/onlineAdsApp.css">
		
		<!-- Load jQuery and BootstrapJS-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

		<!-- Load AngularJS, modules, servieces and controllers -->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-resource.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular/angular-sanitize.js"></script>	
		<script src="lib/angular/ui-bootstrap-tpls-0.12.0.js"></script>
		<script src="lib/angular/ui-bootstrap-custom-0.12.0.js"></script>
		<script src="lib/angular/ui-bootstrap-custom-tpls-0.12.0.js"></script>
		<script src="lib/angular/dirPagination.js"></script>		
		<script src="js/onlineAdsApp.js"></script>
		<script src="js/services/adsService.js"></script>
		<script src="js/services/categoriesService.js"></script>
		<script src="js/services/townsService.js"></script>
		<script src="js/services/authorizationService.js"></script>
		<script src="js/services/authenticationService.js"></script>
		<script src="js/controllers/homeController.js"></script>
		<script src="js/controllers/registerController.js"></script>
		<script src="js/controllers/loginController.js"></script>
		<script src="js/controllers/headerController.js"></script>	
		<script src="js/filters/onlineAdsAppFilters.js"></script>
	</head>
	<body>
	<!-- navigation-->
		<div class="navbar navbar-default" ng-controller="HeaderController">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/" id="home-page">BestAds</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#/login" ng-if="userIsNotLogged">Login</a>
					</li>
					<li>
						<a ng-if="userIsLogged" ng-click="logout()">Logout</a>
					</li>
					<li>
						<a href="#/register">Register</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- main -->
		<div ng-view>
		</div>
	</body>
</html>