<!DOCTYPE html>
<html ng-app="onlineAdsApp">
	<head>
		<meta charset="utf-8">
		<title>DMNook</title>
		<!-- Load Bootsrap and custom styles-->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/onlineAdsApp.css">
		<!-- Load jQuery and BootstrapJS-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- Load AngularJS, modules, servieces and controllers -->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-resource.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular/angular-sanitize.js"></script>
		<script src="lib/angular/ui-bootstrap-tpls-0.12.0.js"></script>
		<script src="lib/angular/ui-bootstrap-custom-0.12.0.js"></script>
		<script src="lib/angular/ui-bootstrap-custom-tpls-0.12.0.js"></script>
		<script src="lib/angular/dirPagination.js"></script>
		<script src="js/onlineAdsApp.js"></script>
		<script src="js/services/adsService.js"></script>
		<script src="js/services/categoriesService.js"></script>
		<script src="js/services/townsService.js"></script>
		<script src="js/services/authorizationService.js"></script>
		<script src="js/services/authenticationService.js"></script>
		<script src="js/services/userProfileService.js"></script>
		<script src="js/services/errorsSerivce.js"></script>
		<script src="js/controllers/homeController.js"></script>
		<script src="js/controllers/registerController.js"></script>
		<script src="js/controllers/loginController.js"></script>
		<script src="js/controllers/mainController.js"></script>
		<script src="js/controllers/userAllAdsController.js"></script>
		<script src="js/controllers/userProfileController.js"></script>
		<script src="js/controllers/userPiblishAdController.js"></script>
		<script src="js/controllers/modalController.js"></script>
		<script src="js/controllers/editAdModalController.js"></script>
		<script src="js/controllers/adminAdsController.js"></script>
		<script src="js/controllers/adminModalController.js"></script>
		<script src="js/controllers/adminEditAdModalController.js"></script>
	</head>
	<body ng-controller="MainController">
		<!-- navigation-->
		<div class="navbar navbar-inverse header-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-click="loadHomePage()"><strong class="home-page-button">DMNook</strong></a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#/login" ng-if="!userHasLogged">Login</a>
					</li>
					<li>
						<a ng-if="userHasLogged" ng-click="logout()">Logout</a>
					</li>
					<li>
						<a href="#/register" ng-if="!userHasLogged">Register</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- alerts-->
		<div class="col-md-6 coll-sm-8 coll-xs-8 col-centered alert-message alerts-div">
			<alert type="{{alertType}}" close="closeAlert()" id="current-alert" class="text-center alert-message" ng-if="alertDialog">
				{{alertMsg}}
			</alert>
		</div>
		<!-- main -->
		<div class="row">
			<!-- left-side-bar -->
			<div class="col-md-3 col-sm-3 col-xs-10">
				<!-- main user nav -->
				<div class="row sidebar-nav" ng-if="regularUser">
					<div class="col-md-11 col-sm-12 col-xs-10 col-centered">
						<div class="well well-sm text-info sidebar-nav-heading">
							<h4>Wellcome home, <span class="avoidwrap"> {{currentUser}}</span></h4>
						</div>
						<div class="list-group">
							<a href="#/home" class="list-group-item" ng-class="getClass('/home')" ng-click="loadHomePage()">Home </a>
							<a class="list-group-item" ng-class="getClassActiveAds('/user/ads')"  ng-click="loadUserAds('')">My Ads</a>
							<a class="list-group-item" ng-class="getClass('/user/publish-new-add')" ng-click="publishNewAdd()">	Publish New Add</a>
							<a class="list-group-item" ng-class="getClass('/user/profile')"
							ng-click="editProfile()">Edit Profile</a>
							<a class="list-group-item" ng-class="getClass('/user/troubleshoot')"  ng-click="troubleshoot()">Troubleshooting</a>
						</div>
					</div>
				</div>
				<!-- My ads nav -->
				<div class="row sidebar-nav" ng-if="clickedMyAds">
					<div class="col-md-11 col-sm-12 col-xs-10 col-centered">
						<div class="well well-sm text-info sidebar-nav-heading">
							<h4>My ads</h4>
						</div>
						<div class="list-group">
							<a class="list-group-item" ng-class="getClass('/user/ads')" ng-click="loadUserAds('')">All</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/published')" ng-click="loadUserAds('Published')">Published</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/waitingapproval')" ng-click="loadUserAds('WaitingApproval')">Waiting Approval</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/inactive')" ng-click="loadUserAds('Inactive')">Inactive</a>
							<a class="list-group-item" ng-class="getClass('/user/ads/rejected')" ng-click="loadUserAds('Rejected')">Rejected</a>
						</div>
					</div>
				</div>
				<!-- main admin nav -->
				<div class="row sidebar-nav" ng-if="userIsAdmin">
					<div class="col-md-11 col-sm-12 col-xs-10 col-centered">
						<div class="well well-sm text-info sidebar-nav-heading">
							<h4><span class="avoidwrap">{{currentUser}}</span></h4>
						</div>
						<div class="list-group">
							<a class="list-group-item" ng-class="getClassActiveAds('/admin/home')"  ng-click="loadAdminAds('')">
							Ads</a>
							<a class="list-group-item" ng-class="getClass('/admin/users')" ng-click="loadUsers()">Users</a>
							<a class="list-group-item" ng-class="getClass('/admin/categories')" ng-click="loadCategories()">	Categories</a>
							<a class="list-group-item" ng-class="getClass('/admin/towns')" ng-click="loadTowns()">Towns</a>
						</div>
					</div>
				</div>
				<!-- Admin ads nav -->
				<div class="row sidebar-nav" ng-if="userIsAdmin">
					<div class="col-md-11 col-sm-12 col-xs-10 col-centered">
						<div class="well well-sm text-info sidebar-nav-heading">
							<h4>Ads</h4>
						</div>
						<div class="list-group">
							<a class="list-group-item" ng-class="getClass('/admin/home')" ng-click="loadAdminAds('')">All</a>
							<a class="list-group-item" ng-class="getClass('/admin/ads/published')" ng-click="loadAdminAds('Published')">Published</a>
							<a class="list-group-item" ng-class="getClass('/admin/ads/waitingapproval')" ng-click="loadAdminAds('WaitingApproval')">Waiting Approval</a>
							<a class="list-group-item" ng-class="getClass('/admin/ads/inactive')" ng-click="loadAdminAds('Inactive')">Inactive</a>
							<a class="list-group-item" ng-class="getClass('/admin/ads/rejected')" ng-click="loadAdminAds('Rejected')">Rejected</a>
						</div>
					</div>
				</div>
				<!-- site info -->
				<div class="row sidebar-nav" ng-if="homePage">
					<!-- site logo -->
					<div class="col-md-12 col-sm-12 col-xs-12 col-centered ">
						<div class="info-page-div">
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 col-centered">
						<div class="well well-sm">
							<h3 class="text-info text-center">DMNook</h3>
							<p class="site-info"><strong> Digital Market Nook</strong> or <strong>DMNook</strong>, or simply <strong>DMN</strong> is the best place on the internet where you could post your ads for free.</p>
							<p>You are just a few clicks away from the wonderful opportunity of purchasing or offer for sale anything you like.</p>
							<p>You could view all the advertisements without signing up, but registration takes only a few minutes and it will grant you permission to also post your own ads.Enjoy your staying on our website and good luck!</p>
						</div>
					</div>
				</div>
			</div>
			<!-- different views from routes are displayed here -->
			<div class="col-md-9 col-sm-9 col-xs-11" ng-view >
			</div>
		</div>
		<!-- back to top button -->
		<a class="back-to-top" ng-click="scollToTop()">Back to Top</a>
	</body>
</html>