<!-- loading ads gif-->
<div class="row" ng-if="loading">
  <div class="spinner" >
    <img src="./img/ajax_loader_blue_512.gif" alt="" class="spinner-gif">
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-10">
    <!-- no users to display-->
    <div class="col-centered" ng-if="noUsersToDisplay">
      <h4 class="black-text text-center">No users were founnd.</h4>
    </div>
    <!-- users list -->
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="user in usersData.users | filter: query | itemsPerPage: usersPerPage" total-items="totalUsers" data-id="{{user.id}}">
          <td>{{user.username}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>
            <a data="{{user.id}}" ng-click="editUserProfile(user.id)" class="edit-user-buutons">Edit</a>
            <a data="{{user.id}}" ng-click="openModal(user.id)" class="edit-user-buutons" >Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- search and filet -->
  <div class="col-md-3 col-sm-3 col-xs-10">
    <input type="text" class="form-control" id="inputQuery" placeholder="Search" ng-model="query">
    <!--Users per page -->
    <h3 class="black-text regular-font-size">Users per page: </h3>
    <div class="btn-group dropdown-filter">
      <button class="btn btn-primary btn-lg dropdown-toggle dropdown-filte-button" type="button" data-toggle="dropdown" aria-expanded="false" }> {{usersPerPage}}
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" >
        <li >
          <a ng-click="filterByCount(5)" class="filte-items-link">5</a>
          <a ng-click="filterByCount(10)" class="filte-items-link">10</a>
          <a ng-click="filterByCount(15)" class="filte-items-link">15</a>
          <a ng-click="filterByCount(20)" class="filte-items-link">20</a>
          <a ng-click="filterByCount(30)" class="filte-items-link">30</a>
        </li>
      </ul>
    </div>
    <h3 class="black-text regular-font-size">Total users: {{totalUsersCount}} </h3>
  </div>
</div>
<!--paginaton-->
<div class="row pagination-div">
  <div class='col-md-9 col-sm-10 col-xs-12 col-centered'>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
</div>