<!-- loading categories gif-->
<div class="row" ng-if="loading">
  <div class="spinner" >
    <img src="./img/ajax_loader_blue_512.gif" alt="" class="spinner-gif">
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-9">
    <!-- no towns to display-->
    <div class="col-centered" ng-if="noTownsToDisplay">
      <h4 class="black-text text-center">No towns were founnd.</h4>
    </div>
    <!-- categories list -->
    <table class="table table-striped table-hover users-table">
      <thead>
        <tr>
          <th>Towns</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="town in townsData.towns | filter: query | itemsPerPage: townsPerPage" total-items="totaTowns" data-id="{{town.id}}">
          <td>{{town.username}}</td>
          <td>
            <a data="{{town.id}}" data="{{town.username}}" ng-click="editTown(town.username, town.id)" class="edit-user-buutons">Edit</a>
            <a data="{{town.id}}" data="{{town.username}}" ng-click="deleteTown(town.username, town.id)" class="edit-user-buutons" >Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- search and filet -->
  <div class="col-md-3 col-sm-3 col-xs-10">
    <input type="text" class="form-control" id="inputQuery" placeholder="Search" ng-model="query">
    <!-- towns per page -->
    <h3 class="black-text regular-font-size">Towns per page: </h3>
    <div class="btn-group dropdown-filter">
      <button class="btn btn-primary btn-lg dropdown-toggle dropdown-filte-button" type="button" data-toggle="dropdown" aria-expanded="false" }> {{townsPerPage}}
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" >
        <li >
          <a ng-click="filterByCount(5)" class="filte-items-link">5</a>
          <a ng-click="filterByCount(10)" class="filte-items-link">10</a>
          <a ng-click="filterByCount(20)" class="filte-items-link">20</a>
          <a ng-click="filterByCount(30)" class="filte-items-link">30</a>
        </li>
      </ul>
    </div>
    <h3 class="black-text regular-font-size">Total towns: {{totaTownsCount}} </h3>
    <!--Add category button -->
    <a class="btn btn-primary btn-lg" ng-click="addTown()">Add Town</a>
  </div>
</div>
<!--paginaton-->
<div class="row pagination-div">
  <div class='col-md-9 col-sm-10 col-xs-12 col-centered'>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
</div>