<form name="registerForm" class="form-horizontal col-md-6 coll-sm-6 coll-xs-8 col-centered well sm-well">
  <fieldset>
    <legend class="text-center">Register</legend>
    <div class="row form-group">
      <div class="col-md-6 col-sm-4 col-xs-6">
        <label for="username" class="col-md-3 col-sm-3 col-xs-3 control-label label-on-top">Username: <b class="text-danger">*</b></label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Username" ng-model="register.username" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 col-sm-4 col-xs-6">
        <label for="password" class="col-md-3 col-sm-3 col-xs-3 control-label label-on-top">Password: <b class="text-danger">*</b></label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" ng-model="register.password" required>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-6">
        <label for="confirmPassword" class="col-md-3 col-sm-3 col-xs-3 control-label label-on-top" id="confirm-password-label">Confirm password: <b class="text-danger">*</b></label>
        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password" ng-model="register.confirmPassword" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 col-sm-4 col-xs-6">
        <label for="name" class="col-md-3 col-sm-3 col-xs-3 control-label label-on-top short-label">Name: <b class="text-danger">*</b></label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name" ng-model="register.name" required>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-6">
        <label for="email" class="col-md-3 col-sm-3 col-xs-3 control-label label-on-top short-label" >Email: <b class="text-danger">*</b></label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="register.name" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 col-sm-4 col-xs-6">
        <label for="phone" class="col-md-3 col-sm-3 col-xs-3 control-label label-on-top short-label">Phone: <b class="text-danger">*</b></label>
        <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" ng-model="register.phone" required>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-6">
        <label for="town" class="col-md-3 col-sm-3 col-xs-3 control-label label-on-top short-label" >Town: </label>
        <select class="form-control" id="select">
          <option>select</option>
          <option ng-repeat="town in townsData">{{town.name}}</option>

        </select>
      </div>
    </div>
    <div class="row">
        <p class="text-danger"><b class="text-danger">Note:</b> The fields with * are required.You can not submit your registration form until filling out all required details information.</p>
      
    </div>
    
    <!-- register submit-->
    <div class="form-group row">
      <div class="centerd-buttons">
        <a class="btn btn-default" href="#/home">Cancel</a>
        <button name="login" ng-click="register(register, loginForm)" type="submit" class="btn btn-primary" ng-disabled="registerForm.username.$error.required || registerForm.password.$error.required || registerForm.confirmPassword.$error.required || registerForm.name.$error.required || registerForm.phone.$error.required || registerForm.email.$error.required">Register</button>
      </div>
    </div>
  </fieldset>
</form>