<div class="row ">
	<div class="well well-lg col-md-8 col-sm-8 col-xs-10">
		<h2 class="text-danger text-center">Troubleshooting</h2>
		<p>Your ad is taking forever for approval to be published?You think your ad was incorrectly rejected or you're experiencing problems editing your ads.Please don't hesitate to contact us for anyting that might bother you at <a href="mailto:dm.nook@gmail.com">dm.nook@gmail.com</a></p>
		<p><strong>DMNook</strong> does not take responsibility for incorrect deals with other users on our website.However we strongly encourage you to report us violations of your rights as a customer.We're doing our best to provide you with good services.</p>
	</div>
</div>